/**
 * Custom Fonts for DataFlows Core
 * 
 * Inter - Regular text (italic, regular, bold)
 * Montserrat - Titles and headings (bold)
 * 
 * Download fonts from:
 * - Inter: https://fonts.google.com/specimen/Inter
 * - Montserrat: https://fonts.google.com/specimen/Montserrat
 * 
 * Place font files in this directory:
 * - Inter-Italic.woff2
 * - Inter-Regular.woff2
 * - Inter-Bold.woff2
 * - Montserrat-Bold.woff2
 */

/* Inter - Italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./Inter_18pt-Italic.ttf') format('truetype');
}

/* Inter - Regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Inter_18pt-Regular.ttf') format('truetype');
}

/* Inter - Bold */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Inter_18pt-Bold.ttf') format('truetype');
}

/* Montserrat - Bold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Montserrat-Bold.ttf') format('truetype');
}
